@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v13/ZvcMqxEwPfh2qDWBPxn6nnNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format('woff2');
}

html {
  background: black;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Source Sans Pro';
}

body {
  margin: 0 0 5px;
  line-height: 1.45;
  background: white;
  position: relative;
}

.frontpage header, .frontpage article, .frontpage footer nav {
  max-width: 720px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 { font-family: Merriweather; font-weight: 700; }

h1 { font-size: 2em; line-height: 2.5em }

h2 { font-size: 1.625em; line-height: 2.0625em; margin: 2.3125em 0 0.75em; }

h3 { font-size: 1.375em; line-height: 1.625em; margin: 1.625em 0 0.75em; }

h4 { font-size: 1.125em; line-height: 1.375em; margin: 1.5625em 0 0.75em; }

a { text-decoration: none }

header > * { z-index: 2; position: relative; }

.frontpage header {
  position: relative;
  padding: 62px 3px 0;
  margin-bottom: 40px;
}

header > h1 {
  text-align: center;
  margin: 63px 0 50px;
}

header nav, footer nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
}

strong { font-weight: 600; }

nav a:link, nav a:visited, a.blocklink:link, a.blocklink:visited, code a:link, code a:visited,
h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited {
  color: inherit;
}

code, pre { font-size: 14px; }
h2 code, h3 code { font-size: inherit; }
pre { line-height: 22px; padding-left: 20px; }

a.blocklink:hover {
  color: #0075ff;
}

nav a.active, a:link, a:visited {
  color: #0075ff;
}

a.logo {
  letter-spacing: -1.5px;
  font-size: 34px;
  line-height: 37px;
}

.navlinks {
  flex-grow: 1;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

footer .navlinks {
  align-items: center;
}

.navlinks > a {
  margin-left: 17px;
  padding-bottom: 3px;
}

.navlinks > a:hover { color: #0075ff; }

article {
  padding: 10px 3px 100px;
}

footer {
  margin-bottom: 54px;
  padding: 14px 3px 0;
  color: white;
  background: black;
}

h2.hr {
  font-size: 12px;
  margin: 50px 0 37px;
}

hr, h2.hr:after {
  display: block;
  content: "";
  border: none;
  border-bottom: 2px solid #e5e5e5;
  margin-top: 2px;
}

hr {
  margin: 45px 0 39px;
}

h2.above-list {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 37px;
  margin-top: 42px;
}

h2.module {
  margin-top: 250px;
  font-size: 28px;
  line-height: 30px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

p, dl, dd, ul, ol, pre { margin-bottom: 23px }

p, dl { margin-top: 1em; }

@media screen and (max-width: 830px) {
  h1 { font-size: 22px }
  a.logo {
    padding-left: 38px;
    letter-spacing: -1px;
    background-size: 28px 28px;
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 24px;
    line-height: 30px;
  }
}

dd p { margin: 0 }
dd { margin-left: 20px }
dt {
  padding-left: 35px;
  text-indent: -35px;
}

code { margin: 0 2px }

.kind, .extends {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 14px;
  margin-bottom: -4px;
}
.extends code {
  color: black;
}

div.figure { margin: 1em; }
.figure img {
  width: 400px;
  max-width: 90%;
}

.comment { background-color: #ff8 }
.currentComment { background-color: #fe0 }

.commentList, .commentText {
  display: block;
  padding: 0;
  margin: 0;
}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
  width: 0;
  overflow: visible;
  vertical-align: bottom;
}

.ProseMirror ul.commentList {
  font-family: "Source Sans Pro";
  font-size: 16px;
  width: 15em;
  position: absolute;
  top: calc(100% + 8px);
  left: -2em;
  font-size: 1rem;
  color: black;
  background: white;
  font-weight: normal;
  border: 1px solid #888;
  border-radius: 5px;
  z-index: 10;
  padding: 0;
}

ul.commentList::before {
  border: 5px solid #888;
  border-top-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -5px;
  left: calc(2em - 6px);
  content: " ";
  height: 0;
  width: 0;
}

li.commentText {
  padding: 2px 20px 2px 5px;
  position: relative;
  pointer-events: auto;
  margin: 0;
}

li.commentText + li.commentText {
  border-top: 1px solid silver;
}

.commentDelete {
  position: absolute;
  right: 0;
  border: 0;
  font: inherit;
  display: inline;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.commentDelete:hover {
  color: #f88;
}

.ProseMirror-report {
  position: fixed;
  top: 0; right: 0; left: 0;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  padding: 3px 27px 5px;
  white-space: pre;
  z-index: 1000;
}

.ProseMirror-report-fail {
  background: rgb(255, 230, 230);
  border-color: rgb(200, 150, 150);
}

.ProseMirror-report-delay {
  background: rgb(255, 255, 200);
  border-color: rgb(200, 200, 120);
}
